MSSQL_SA_PASSWORD=zaq1@WSX
POSTGRES_PASSWORD=zaq1@WSX
ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=CitiesServiceDB;Username=postgres;Password=zaq1@WSX
ServiceSettings__ApiKey=REPLACE_WITH_OPENWEATHER_API_KEY
MailSettings__From=no-reply@example.com
MailSettings__DisplayName=Simple Weather Site
MailSettings__Password=REPLACE_WITH_SMTP_PASSWORD
MailSettings__Host=smtp.example.com
MailSettings__Port=587
MailSettings__DefaultEmailReceiver=alerts@example.com
