ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:80
ASPNETCORE_FORWARDEDHEADERS_ENABLED=true
BackupJobSettings__Enabled=false
Database__Provider=PostgreSql
ConnectionStrings__RedisConnection=redis:6379
MongoSettings__ConnectionString=mongodb://mongo:27017/?replicaSet=rs0
RabbitMqSettings__Host=rabbitmq://rabbitmq
RabbitMQSettings__Host=rabbitmq://rabbitmq
ServiceSettings__OpenWeatherHost=https://api.openweathermap.org/
GrpcCitiesClientConnections__Uri=http://citiesgrpcservice:5043
ApiEndpoints__WeatherServiceApiUrl=http://weatherservice:80/api/weatherforecast/
ApiEndpoints__CitiesServiceApiUrl=http://citiesservice:80/api/city/
ApiEndpoints__WeatherHistoryServiceApiUrl=http://weatherhistoryservice:80/api/CityWeatherForecast/
ApiEndpoints__IconServiceApiUrl=http://iconservice:80/api/Icons/
ApiEndpoints__SignalRServer=/signalr/
ApiConsumerAuthSettings__AuthorityUrl=http://oauthserver
ApiResourceAuthSettings__AuthorityUrl=http://oauthserver:80
