
@using WeatherSite.Models.City
@using WeatherSite.Controllers
@using WeatherSite.Helpers

@model CitiesPaginationVM

@{
    ViewData["Title"] = "GetCitiesPagination";
}

<div class="row">
    <div class="col-12">
        <div id="cities-pagination-partial-div">
            @* Partial goes here *@
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        loadCitiesPagination(1, 25);

        function loadCitiesPagination(pageNumber, numberOfCities) {

            showBaseLoader('#cities-pagination-partial-div');

            //$("#wyszukaj-pozycje-nr-strony-hidden-input").val(numerStrony);
            //$("#wyszukaj-pozycje-ilosc-na-stronie-hidden-input").val(iloscNaStronie);

            $.post('@Url.Action(nameof(CityController.GetCitiesPaginationPartial), MvcHelper.NameOfController<CityController>())',
                {
                    'pageNumber': pageNumber,
                    'numberOfCities': numberOfCities
                }, function (data) {

                    $("#cities-pagination-partial-div").html(data);
            });
        }
    </script>
}