
@using WeatherSite.Models.City
@using WeatherSite.Controllers
@using WeatherSite.Helpers

@model CitiesPaginationPartialVM

<div class="card">
    <div class="card-header" style="display: flex; justify-content: center">
        <h1 class="card-title">
            <strong>
                Available cities table
            </strong>
        </h1>
    </div>

    <div class="card-body p-0">
        @if (Model != null && Model.Cities != null)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            City name
                        </th>
                        <th>
                            Country
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var city in Model.Cities)
                    {
                        <tr>
                            <td>
                                @(city.Name)
                            </td>
                            <td>
                                @(city.Country)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            //TODO: display something here
        }
    </div>

    <div class="card-footer clearfix" style="display: flex; justify-content: center">
        @await Html.PartialAsync("_paginationPartial", Model.PaginationVM)
    </div>

</div>