
@using WeatherSite.Models.City
@using WeatherSite.Controllers
@using WeatherSite.Helpers

@model CitiesPaginationVM

@{
    ViewData["Title"] = "GetCitiesPagination";
}

<div class="row">
    <div class="col-12">
        <div id="cities-pagination-partial-div">
            @* Partial goes here *@
        </div>
    </div>
</div>

<script src="~/js/pagination.js" asp-append-version="true"></script>

@section Scripts
{
    <script>
        pagination(
            '#cities-pagination-partial-div',
            '@Url.Action(nameof(CityController.GetCitiesPaginationPartial), MvcHelper.NameOfController<CityController>())',
            1,
            25);
    </script>
}