
@model PaginationVM<CitiesGrpcService.CityReply>

<div class="card">
    <div class="card-header" style="display: flex; justify-content: center">
        <h1 class="card-title">
            <strong>
                Available cities table, page no. #@Model.PageNumber
            </strong>
        </h1>
    </div>

    <div class="card-body p-0">
        @if (Model.IsSuccess)
        {
            var number = 1;

            if (Model.PageNumber > 1)
            {
                number += (Model.PageNumber - 1) * Model.NumberOfEntitiesOnPage;
            }

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>
                            City name
                        </th>
                        <th>
                            Country
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var city in Model.Values)
                    {
                        <tr>
                            <td>
                                @($"{number}.")
                            </td>
                            <td>
                                @(city.Name)
                            </td>
                            <td>
                                @(city.Country)
                            </td>
                        </tr>

                        number++;
                    }

                </tbody>
            </table>
        }
        else
        {
            //TODO: display something better here
            <span>
                Couldn't get cities from the database.
            </span>
        }
    </div>

    <div class="card-footer clearfix">
        @await Html.PartialAsync("_paginationPartial", Model)
    </div>

</div>