name: Runner smoke test

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Who am I?
        run: |
          whoami
          uname -a
          id
          docker version
          docker compose version
